---
import Hr from "./Hr.astro";
import Icon from "./Icon.astro";
import Socials from "./Socials.astro";
import { SITE } from "@/data/site";
---

<footer class="site-footer">
  <Hr noPadding />
  <div class="site-footer__inner">
    <Socials compact />
    <div class="site-footer__links">
      <a href="/">Posts</a>
      <a href="/about/">About</a>
      <a href="/agents/">Agents</a>
    </div>
    <p class="site-footer__credit">
      <a href={SITE.github} target="_blank" rel="noreferrer">
        Built in public
        <Icon name="arrow-right" class="ui-icon footer-arrow" />
      </a>
    </p>
  </div>
</footer>
